<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
 <div><%= render "layouts/nav" %></div>
 
    <div class="row">
      <div class="large-12 columns">
        <h1>Judes' J1 Jobs List</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div class="callout large">
          <h3>ADD EMPLOYERS </h3>
          <div>
	


  <H4> LIST of stuff done or to be done for Judes Jobs </h4>

  <ul> 3 Models employer gig user</ul>
  <ul> Models Views Controllers MVC </ul>
  <ul> Controllers and Def actions for each </ul>
    <ul> Empoyers has an ADD page  </ul>
      <ul> Controllers and Def actions for each </ul>
        <ul> Controllers and Def actions for each </ul>
  <ul> Setup Simple Form installed with Foundation) https://github.com/plataformatec/simple_form  </ul>
	<ul>Login Setup Users </ul>
	
	<ul> Views for new models </ul>
	<ul> Controllers for new Models</ul>
	<ul> Yield for top navbar </ul>
	<ul> resources :jobsdata </ul>
<ul> http://guides.rubyonrails.org/asset_pipeline.html</ul>

</div>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>


