<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
 <%= render "layouts/nav" %>
 
    <div class="row">
      <div class="large-12 columns">
        <h1>Judes' J1 Jobs List</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div class="callout large">
          <h3>Get  J1 Summer Gig </h3>
          <div>
	<h2> <%= debug @movie %>  </h2>

<ul> display and search for gigs using the datatables plugin http://www.datatables.net/ </ul>
<ul> ADD some data to DB how?</ul>
	<ul> View Search Gigs on this page</ul>
	<ul> Navbar add as partial  </ul>
	<ul> Add the Data plugin </ul>
    <ul> Sign up in out  </ul>
      <ul> Search Display </ul>
      <ul> Apply for job</ul>
        <ul> Users needs a function - simple form logins bcrypt gem</ul>
	

</div>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>


